* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

.header {
  width: 100%;
  padding-top: 40px;
  border: none solid black;
  background-color: #000;
  box-shadow: 12px 20px 90px;
  opacity: 0.9;
}

footer {
  height: 252px;
  width: 100%;
  background: #111;
  color: white;
  font-family: open sans-serif;
  padding-top: 78px;
}

.footer-content {
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 1.8rem;
  line-height: 3rem;
}

.footer-content p {
  margin: 10px auto;
  font-size: 14px;
}

.footer-bottom {
  margin-top: 24px;
  padding: 30px;
  text-align: center;
  background: #000;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
}

.list {
  text-align: right;
  padding-right: 20px;
}

.list li {
  color: white;
  width: 100px;
  font-weight: 100;
  opacity: 0.6;
  list-style-type: none;
  display: inline-block;
}

.list li:hover {
  opacity: 1;
  cursor: pointer;
}

.m {
  text-align: left;
  padding-left: 20px;
}

.m li {
  width: 100px;
  list-style-type: none;
  line-height: 40px;
  text-transform: capitalize;
  display: inline-block;
}

.m li a {
  text-decoration: none;
  color: white;
}

.m li a:hover {
  color: #ff4c4c;
}

ul li:hover ul li {
  display: block;
  cursor: pointer;
}

.content img {
  opacity: 0.6;
  height: 200px;
}

@keyframes content {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

h1 {
  display: flex;
  font-weight: 100;
  opacity: 0.8;
  color: white;
}

h2 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 20px;
}

h4 {
  width: 320px;
  text-align: justify;
  text-transform: capitalize;
  color: white;
  font-weight: 100;
  line-height: 25px;
  letter-spacing: 0.4px;
  opacity: 0.5;
}

.btn2 button {
  position: fixed;
  top: 5px;
  left: 3px;
  padding: 10px;
  background: #ff4c4c;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 3px;
}

.Hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0, 0.4)),
    url(./imges/pizza2.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 90%;
  max-width: 600px;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input,
textarea {
  width: 200%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
  font-size: 15px;
}

.btn {
  width: 213%;
  height: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: rgb(255, 255, 255);
  cursor: text;
  transition: 0.2s;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

h2 {
  top: 66px;
  text-align: center;
}

.all-p {
  margin-top: 110px;
}

.p-about {
  margin-top: -46px;
  padding: 55px;
  width: 74%;
}

.content {
  padding: 20px;
}

.baker {
  margin: 80px;
  display: flex;
  height: 300px;
  border: 1px solid rgb(0, 0, 0);
  padding: 20px;
  background: #000;
  opacity: 0.9;
  border-radius: 15px;
  box-shadow: 0px 40px 40px;
  animation: 3s content none;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(./imges/croissant1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.BigBox {
  display: flex;
  flex-direction: row;
  padding: 120px;
  flex-wrap: wrap;
}

.BigBox img {
  width: 25%;
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 1200px) and (min-width: 801px) {
  .BigBox {
    padding: 20px;
  }
  .BigBox img {
    width: 50%;
    height: 150px;
  }
  body {
    background-color: #e26fd8;
  }
  footer {
    background-color: rgb(34, 28, 146);
    color: #fff;
  }
  .footer-bottom {
    background: #71e263;
  }
  .m li {
    width: 24%;
  }
  .Hero {
    width: 140%;
  }
  .baker {
    flex-direction: column;
    height: 500px;
  }
  .input-group {
    right: 200px;
    width: 150px;
  }
  .btn {
    margin-left: -197px;
  }
}

@media (max-width: 800px) and (min-width: 601px) {
  .BigBox {
    padding: 20px;
  }
  .BigBox img {
    width: 50%;
    height: 150px;
  }
  body {
    background-color: #e26f6f;
  }
  footer {
    background-color: rgb(148, 141, 141);
    color: #fff;
  }
  .footer-bottom {
    background: #ffbf14;
  }
  .m li {
    width: 24%;
  }
  .Hero {
    width: 140%;
  }
  .baker {
    flex-direction: column;
    height: 500px;
  }
  .input-group {
    right: 200px;
    width: 150px;
  }
  .btn {
    margin-left: -197px;
  }
}

@media (max-width: 600px) {
  .BigBox {
    padding: 20px;
  }
  .BigBox img {
    width: 50%;
    height: 150px;
  }
  body {
    background-color: #e26f6f;
  }
  footer {
    background-color: rgb(148, 141, 141);
    color: #fff;
  }
  .footer-bottom {
    background: #ffbf14;
  }
  .m li {
    width: 24%;
  }
  .Hero {
    width: 140%;
  }
  .baker {
    flex-direction: column;
    height: 500px;
  }
  .input-group {
    right: 200px;
    width: 150px;
  }
  .btn {
    margin-left: -197px;
  }
}
